@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>В данном проекте добавление товаров и заказов, а также их удаление осуществляется по Api с применением Swagger</p>
</div>
